<style>
	.d1{
		background-color: rgb(53,60,68);
		position: relative;
		height: 30px;
		line-height: 30px;
		padding-left: 10px;
	}
	.s1{
		font-size: 12px;
		color: white;
	}
	.s2{
		position: absolute;
		right: 10px;
	}
	.s2 a{
		color: white;
		font-size: 12px;
		text-decoration: none;
	}
	.t1{
		border-color:aliceblue;
		margin-top: 2px;
		font-size: 12px;
		text-align: center;
		background-color: rgb(230,242,254);
	}
	.bottom{
		font-size: 13px;
		padding-left: 15px;
		position: relative;
	}
	.bs{
		position: absolute;
		right: 40px;
	}
	.bs a{
		text-decoration: none;
		color: black;
	}
	.bs a:hover{
		color: cornflowerblue;
		text-decoration: underline;
	}
</style>
<div class="d1">
	<span class="s1">用户地址管理</span>
	<span class="s2">
		<a href="{% url 'adm:inc' %}">添加</a>
		<a href="javascript:void(0)" onclick="deladdress()">删除</a>
	</span>
</div>
<table border="2" width="100%" cellspacing="0" class="t1">
	<tr>
		<td>
			<input type="checkbox" />
		</td>
		<td>地址ID</td>
		<td>用户名</td>
		<td>详细地址</td>
		<td>邮政编码</td>
		<td>创建时间</td>
		<td>收件人</td>
		<td>手机号</td>
	</tr>
    {% for address in pages %}
        <tr>
            <td>
                <input type="checkbox" value="{{ address.id }}" class="choose" />
            </td>
            <td>{{ address.id }}</td>
            <td>{{ address.userid.email }}</td>
            <td>{{ address.detailAddress }}</td>
            <td>{{ address.postalcode }}</td>
            <td>--</td>
            <td>{{ address.consignee }}</td>
            <td>{{ address.mobilephone }}</td>
        </tr>
    {% endfor %}

</table>
<script>
    function deladdress(){
        var deltr = document.getElementsByClassName('choose');
        for(var i = 0;i<deltr.length;i++){
            if(deltr[i].checked){
                var aid = deltr[i].value;
                var xhr_del = new XMLHttpRequest();

                xhr_del.open('get',"{% url 'adm:deladdress'%}?aid="+aid);
                xhr_del.send();
                xhr_del.onreadystatechange=function(){
                    if(xhr_del.readyState == 4 && xhr_del.status == 200){
                        var res = xhr_del.responseText;
                    }
                }
            }
        location.href="{% url 'adm:adrslt' %}"
        }
    }
</script>
<div class="bottom">
	共有{{ pages.paginator.count }} 条记录，当前第 {{ pages.number }} 页，共{{ pages.paginator.num_pages }} 页
	<span class="bs">
        <a href="{% url 'adm:adrslt' %}?num=1" style="margin-right: 20px;">首页</a>
        {% if pages.has_previous %}
            <a href="{% url 'adm:adrslt' %}?num={{ pages.previous_page_number }}" style="margin-right: 20px;">上一页</a>
        {% endif %}
        {% if pages.has_next %}
            <a href="{% url 'adm:adrslt' %}?num={{ pages.next_page_number }}" style="margin-right: 20px;">下一页</a>
        {% endif %}
		<a href="{% url 'adm:adrslt' %}?num={{ pages.paginator.num_pages }}">尾页</a>
	</span>
</div>